<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
   <section class="sub-header">
       <nav>
         <a href="{{url_for('interface')}}"><img src="{{ url_for('static', filename='lg.png') }}" ></a>
         <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="{{url_for('interface')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('courses')}}">Course</a></li>
                <li><a href="{{url_for('blog')}}">Blog</a></li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
         </div>
         <i class="fa fa-bars" onclick="showMenu()" ></i>
       </nav>
<h1> About Us </h1>
<!-------------about us content--------->
<section class="about-us">
     <div class="row">
        <div class="about-col">
            <H1> We are the biggest university in the WORLD</H1>
            <p>Our AI assistant is here to support students.
                Ask any questions about topics you need help with.
                Get clear explanations instantly.</p>
            <a href="{{url_for('chatbot')}}" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
            <img src="{{ url_for('static', filename='about.jpg') }}" >
        </div>
     </div>
</section>
</section>
</div>
<!----- Footer ------>
<section class="footer"> 
    <h4>About US</h4>
    <P>At BrightMinds Academy, we combine quality education with flexibility through our engaging online courses.<br> Our mission is to empower students everywhere with knowledge, creativity, and confidence—anytime, anywhere.</P>
<div class="icons">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-x-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-tiktok"></i>
</div>
</section>

<!----javascript-->
   <script>
    var navLinks = document.getElementById("navLinks");
    function showMenu (){
        navLinks.style.right = "0";
    }
    function hideMenu (){
        navLinks.style.right = "-200PX";
    }
   </script>
</body>
</html>